.add {
  padding-bottom: 30px;
  padding-right: 20px;
  padding-bottom: 35px;
  padding-left: 20px;
}

.add__heading {
  margin: 0;
  padding-bottom: 30px;

  font-size: 24px;
  line-height: 24px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.add__product-list {
  list-style: none;

  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.add__item {
  padding-top: 14px;
  padding-bottom: 17px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.add__name {
  margin: 0;
  margin-bottom: 12px;

  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.add__item span {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  color: $color-2;
}

.add__info {
  display: flex;
  justify-content: space-between;

  margin-bottom: 14px;
}

.add__present {
  background-image: url('../../img/gift-photo-mobile@1x.jpg');

  width: 280px;
  height: 289px;
  padding-top: 190px;

  text-align: center;
}

.add__present-terms {
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
