.add__product-list {
    list-style: none;

    margin: 0;
    padding: 0;
  }

.add__heading {
  font-weight: 400;

  margin: 0;
}

.add__info {
  font-family: "Arial", sans-serif;
  color: $color-2;
}

.add__gift {
  position: relative;
}

.add__gift-terms {
  font-family: "Arial", sans-serif;
  color: #ffffff;
}

  @media (max-width: $mobile-width) {

  .add {
    padding-bottom: 30px;
    padding-right: 20px;
    padding-bottom: 35px;
    padding-left: 20px;
  }

  .add__heading {
    position: relative;

    padding-bottom: 30px;

    font-size: 24px;
    line-height: 24px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &::after {
      content: "";

      position: absolute;
      top: 11px;
      left: 247px;

      width: 53px;
      height: 3px;

      background-color: $color-3;
    }
  }

  .add__product-list {
    margin-bottom: 40px;
  }

  .add__item {
    padding-top: 14px;
    padding-bottom: 17px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .add__name {
    margin: 0;
    margin-bottom: 14px;

    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
  }

  .add__item span {
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    color: $color-2;
  }

  .add__info {
    display: flex;
    justify-content: space-between;

    margin-bottom: 14px;
  }

  .add__gift {
    width: 280px;
    height: 289px;
    padding-top: 190px;

    background-color: #68b738;
    background-image: url("../img/gift-photo-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-mobile@2x.jpg");
    }
  }

  .add__gift-terms {
    width: 160px;
    margin: 0 auto;

    font-size: 16px;
    line-height: 20px;
    text-align: center;

    &::after {
      content: "";

      position: absolute;
      top: 54px;
      left: 113px;

      width: 56px;
      height: 61px;

      background-image: url(../img/icon-gift.svg);

    }
  }

}

@media (min-width: $tablet-width) {

  .add__heading {
    position: relative;

    padding-bottom: 75px;
    padding-left: 35px;

    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";

      position: absolute;
      top: 20px;
      right: 680px;

      width: 100%;
      height: 3px;

      background-color: $color-3;
    }

    &::after {
      content: "";

      position: absolute;
      top: 20px;
      left: 420px;

      width: 100%;
      height: 3px;

      background-color: $color-3;
    }
  }

  .add__product-list {
    margin-bottom: 70px;

    border: 1px solid #cdcdcd;
  }

  .add__item {
    padding-top: 28px;
    padding-right: 37px;
    padding-bottom: 28px;
    padding-left: 37px;

    border-bottom: 1px solid #cdcdcd;

    &:last-child {
      border: none;
    }
  }

  .add__item-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .add__name {
    margin: 0;
    margin-bottom: 26px;

    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .add__pack {
    font-size: 16px;
    line-height: 20px;
    color: $color-2;
  }

  .add__price {
    font-size: 16px;
    line-height: 20px;
    color: $color-2;

    margin-left: 52px;
  }

  .add__order {
    width: 633px;
    height: 40px;
    padding-top: 8px;
  }

  .add__gift {
    width: 708px;
    height: 200px;
    margin-bottom: 75px;
    padding-top: 75px;
    padding-left: 400px;

    font-size: 16px;
    line-height: 20px;
    color: #ffffff;


    background-color: #68b738;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .add__gift-terms {
    width: 160px;
    margin: 0;

    font-size: 16px;
    line-height: 20px;
    text-align: left;

    &::after {
      content: "";

      position: absolute;
      top: 65px;
      left: 113px;

      width: 56px;
      height: 61px;

      background-image: url(../img/icon-gift.svg);
    }
  }

}

@media (min-width: $desktop-width) {

  .add__heading {
    position: relative;

    padding-bottom: 75px;


    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";

      position: absolute;
      top: 20px;
      left: -210px;

      width: 200px;
      height: 3px;

      background-color: $color-3;
    }

    &::after {
      content: "";

      position: absolute;
      top: 20px;
      left: 425px;

      width: 950px;
      height: 3px;

      background-color: $color-3;
    }
  }

  .add__wrapper {
    display: flex;

    justify-content: space-between;
  }

  .add__product-list {
    border: none;
  }

  .add__item {
    display: flex;
    align-items: center;

    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;


    border-bottom: 1px solid #cdcdcd;

    &:first-child {
      border-top: 1px solid #cdcdcd;
    }

    &:last-child {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  .add__item-wrapper {
    width: 610px;
  }

  .add__name {
    margin: 0;
  }

  .add__pack {
    margin-left: auto;
  }

  .add__order {
    width: 245px;
    height: 40px;

    margin-left: 39px;
  }

  .add__gift {
    width: 245px;
    height: 290px;

    padding-top: 190px;
    padding-right: 40px;
    padding-left: 40px;

    background-color: #68b738;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .add__gift-terms {
    margin: 0;
    text-align: center;

    &::after {
      content: "";

      position: absolute;
      top: 65px;
      left: 96px;

      width: 56px;
      height: 61px;

      background-image: url(../img/icon-gift.svg);
    }
  }

}
