.advantages__heading {
  font-weight: 400;
  margin: 0;
}

.advantages__list {
  list-style: none;

  margin: 0;
  padding: 0;
}

.advantages__item {
  position: relative;

  font-family: "Arial", sans-serif;
}

@media (max-width: $mobile-width) {

  .advantages {
    margin-bottom: 45px;
  }

  .advantages__heading {
    font-size: 36px;
    line-height: 60px;

    margin-bottom: 31px;
    padding-left: 20px;
  }

  .advantages__list {
    padding-left: 100px;
    padding-right: 25px;
  }

  .advantages__item {
    font-size: 14px;
    line-height: 18px;
    color: $color-2;

    margin-bottom: 28px;

    &::before {
      content: "";
      position: absolute;

      top: -3px;
      left: -80px;

      width: 60px;
      height: 60px;

      background-color: $color-3;
    }
  }

  .advantages__healthy::after {
    content: "";
    position: absolute;

    top: 2px;
    left: -72px;

    width: 52px;
    height: 58px;

    background-image: url(../img/advantage-leaf@1x.png);
  }

  .advantages__easy::after {
    content: "";
    position: absolute;

    top: 2px;
    left: -74px;

    width: 58px;
    height: 62px;

    background-image: url(../img/advantage-powder@1x.png);
  }

  .advantages__replacement::after {
    content: "";
    position: absolute;

    top: 2px;
    left: -75px;

    width: 56px;
    height: 60px;

    background-image: url(../img/advantage-dining@1x.png);
  }

  .advantages__result::after {
    content: "";
    position: absolute;

    top: 2px;
    left: -75px;

    width: 52px;
    height: 62px;

    background-image: url(../img/advantage-clock@1x.png);
  }

}

@media (min-width: $tablet-width) {

  .advantages {
    padding-top: 46px;
    margin-right: auto;
    margin-left: auto;

    width: 708px;
  }

  .advantages__heading {
    font-size: 60px;
    line-height: 60px;

    margin-bottom: 72px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    counter-reset: items;
  }

  .advantages__item {
    width: 330px;
    padding-top: 117px;
    padding-right: 110px;
    padding-bottom: 50px;
    margin-bottom: 57px;

    font-size: 16px;
    line-height: 24px;
    color: $color-2;
    counter-increment: items;

    &::before {
      content: "";
      position: absolute;

      top: 0;
      left: 0;

      width: 80px;
      height: 80px;

      background-color: $color-3;
    }
  }

  .advantages__item-counter::after {
    content: counter(items);

    position: absolute;

    top: -35px;
    left: 100px;

    font-family: "Oswald", "Arial", sans-serif;
    font-size: 281px;
    line-height: 281px;
    color: $bg-2;

    z-index: -2;
  }

  .advantages__healthy::after {
    content: "";
    position: absolute;

    top: 14px;
    left: 16px;

    width: 52px;
    height: 58px;

    background-image: url(../img/advantage-leaf@1x.png);

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }

  .advantages__easy::after {
    content: "";
    position: absolute;

    top: 14px;
    left: 16px;

    width: 58px;
    height: 55px;

    background-image: url(../img/advantage-powder@1x.png);

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  .advantages__replacement::after {
    content: "";
    position: absolute;

    top: 14px;
    left: 15px;

    width: 56px;
    height: 55px;

    background-image: url(../img/advantage-dining@1x.png);

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  .advantages__result::after {
    content: "";
    position: absolute;

    top: 14px;
    left: 16px;

    width: 52px;
    height: 50px;

    background-image: url(../img/advantage-clock@1x.png);

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }

}

@media (min-width: $desktop-width) {

  .advantages {
    width: 1220px;
    padding-top: 61px;
  }

  .advantages__item {
    width: 250px;
    padding-right: 0;
  }

}
