.button {
  display: inline-block;

  font: inherit;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  text-align: center;
  vertical-align: middle;

  width: 280px;
  height: 40px;
  padding-top: 10px;
  border: none;
  background-color: #68b738;
}
