.button {
  display: inline-block;

  font: inherit;
  text-transform: uppercase;
  color: #ffffff;

  text-align: center;
  vertical-align: middle;

  border: none;
  background-color: #68b738;
}

.button--green:hover {
  cursor: pointer;
  background-color: #5eaa2f;
}

.button--green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5eaa2f;
}

.button--gray:hover {
  cursor: pointer;
  background-color: #ebebeb;
}

.button--gray:active {
  color: rgba(68, 68, 68, 0.3);
  background-color: #ebebeb;
}

@media (max-width: $mobile-width) {

  .button {
    font-size: 14px;
    line-height: 18px;

    width: 280px;
    height: 40px;
    padding-top: 10px;
  }

}

@media (min-width: $tablet-width) {

  .button {
    display: inline-block;

    text-align: center;

    font: inherit;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #68b738;
  }

}
