.cat-comments {
  border: none;
}

@media (max-width: $mobile-width) {

  .cat-comments {
    margin-bottom: 30px;
  }

  .cat-comments legend {
    font-size: 24px;
    line-height: 24px;

    margin-bottom: 30px;
  }

  .cat-comments__text {
    width: 280px;
    height: 150px;
    padding: 16px;
  }

}

@media (min-width: $tablet-width) {

  .cat-comments {
    margin-bottom: 70px;
    position: relative;
  }

  .cat-comments legend {
    font-size: 36px;
    line-height: 36px;

    margin-bottom: 70px;

    &::before {
      content: "";

      position: absolute;
      top: 20px;
      right: 680px;

      width: 100%;
      height: 3px;

      background-color: $color-3;
    }

    &::after {
      content: "";

      position: absolute;
      top: 20px;
      left: 200px;

      width: 100%;
      height: 3px;

      background-color: $color-3;
    }
  }

  .cat-comments__text {
    width: 630px;
    height: 174px;

    padding-top: 17px;
    padding-right: 20px;
    padding-bottom: 17px;
    padding-left: 20px;
  }

}

@media (min-width: $desktop-width) {

  .cat-comments__text {
    width: 1220px;
    height: 174px;
  }

  .cat-comments legend {
    &::before {
      top: 20px;
      right: 1250px;
    }

    &::after {
      top: 20px;
      left: 250px;
    }
  }

}
