.cat-info {
  border: none;
}

.cat-info__item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

@media (max-width: $mobile-width) {

  .cat-info {
    margin-bottom: 35px;
  }

  .cat-info input{
    margin-bottom: 14px;
    padding-right: 16px;
    padding-left: 16px;
  }

  .cat-info__name {
    width: 230px;
    height: 45px;
  }

  .cat-info__weight {
    width: 205px;
    height: 45px;
  }

  .cat-info__age {
    width: 172px;
    height: 45px;
  }

}

@media (min-width: $tablet-width) {

  .cat-info {
    margin-bottom: 72px;
  }

  .cat-info input{
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .cat-info__name {
    width: 567px;
    height: 52px;
  }

  .cat-info__weight {
    width: 536px;
    height: 52px;
  }

  .cat-info__age {
    width: 497px;
    height: 52px;
  }

}

@media (min-width: $desktop-width) {

  .cat-info__name {
    width: 506px;
    height: 52px;
  }

  .cat-info__weight {
    width: 475px;
    height: 52px;
  }

  .cat-info__age {
    width: 436px;
    height: 52px;
  }

}
