.cat-goal {
    display: flex;

    border: solid 1px #ededed;
}

.cat-goal__input {
  position: absolute;

  width: 1px;
  height: 1px;

  overflow: hidden;
  clip: rect(0 0 0 0);
}

.cat-goal__input:checked + .cat-goal__radio::after {
  display: block;
}

.cat-goal__radio {
  position: absolute;
  display: block;

  border: 1px solid #cdcdcd;
  border-radius: 50%;
}

.cat-goal__radio::after {
  content: "";
  display: none;

  position: absolute;

  border-radius: 50%;
  background-color: $color-3;
}

.cat-goal__item:hover {
  cursor: pointer;
}

.cat-goal__input:hover + .cat-goal__radio {
  border-color: #bababa;
}

.cat-goal__item:active {
  opacity: 0.3;
}

@media (max-width: $mobile-width) {

  .cat-goal {
    display: flex;

    padding: 20px;
    margin-bottom: 35px;
    border: solid 1px #ededed;
  }

  .cat-goal__item {
    padding-left: 45px;
    margin-bottom: 26px;
  }

  .cat-goal__radio {
    width: 30px;
    height: 30px;
    margin-top: -5px;
    margin-left: -40px;
  }

  .cat-goal__radio::after {
    width: 12px;
    height: 12px;

    top: 8px;
    left: 8px;
  }

}

@media (min-width: $tablet-width) {

  .cat-goal {
    border: solid 1px #cdcdcd;
  }

  .cat-goal__item {
    padding-left: 60px;
    margin-bottom: 30px;
  }

  .cat-goal__radio {
    width: 40px;
    height: 40px;
    margin-top: -10px;
    margin-left: -50px;
  }

  .cat-goal__radio::after {
    width: 18px;
    height: 18px;

    top: 10px;
    left: 10px;
  }

}

@media (min-width: $desktop-width) {

  .cat-goal {
    width: 570px;

    border: 1px solid #cdcdcd;
  }

}
