.cat-add {
  border: none;
}

.cat-add__input {
  position: absolute;

  width: 1px;
  height: 1px;

  overflow: hidden;
  clip: rect(0 0 0 0);
}

.cat-add__checkbox {
  position: absolute;
  display: block;

  border: 1px solid #cdcdcd;
}

.cat-add__input:checked + .cat-add__checkbox {
  background-size: 22px 17px;
  background-position: center;
  background-image: url(../img/icon-tick.svg);
  background-repeat: no-repeat;
}

.cat-add__item:hover {
  cursor: pointer;
}

.cat-add__input:hover + .cat-add__checkbox {
  border-color: #bababa;
}

.cat-add__item:active {
  opacity: 0.3;
}

@media (max-width: $mobile-width) {
  .cat-add {
    margin-bottom: 30px;
  }

  .cat-add legend {
    font-size: 24px;
    line-height: 24px;

    margin-bottom: 37px;
  }

  .cat-add__item {
    display: block;
    padding-left: 45px;
    margin-bottom: 22px;
  }

  .cat-add__checkbox {
    width: 30px;
    height: 30px;
    margin-top: -5px;
    margin-left: -40px;
  }

}

@media (min-width: $tablet-width) {

  .cat-add {
    position: relative;
  }

  .cat-add legend {
    font-size: 36px;
    line-height: 36px;

    margin-bottom: 50px;

    &::before {
      content: "";

      position: absolute;
      top: 20px;
      right: 680px;

      width: 100%;
      height: 3px;

      background-color: $color-3;
    }

    &::after {
      content: "";

      position: absolute;
      top: 20px;
      left: 250px;

      width: 100%;
      height: 3px;

      background-color: $color-3;
    }
  }

  .cat-add__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .cat-add__item {
    width: 315px;
    padding-left: 60px;
    margin-bottom: 50px;
  }

  .cat-add__checkbox {
    width: 40px;
    height: 40px;
    margin-top: -10px;
    margin-left: -50px;
  }

}

@media (min-width: $desktop-width) {

  .cat-add__item {
    width: 300px;
  }

  .cat-add legend {
    &::before {
      top: 20px;
      right: 1250px;
    }

    &::after {
      top: 20px;
      left: 250px;
    }
  }

}
