.cat-contacts {
  border: none;
}

.cat-contacts__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  position: relative;
}

.cat-contacts__icon {
  position: absolute;
}


@media (max-width: $mobile-width) {

  .cat-contacts {
    margin-bottom: 20px;
  }

  .cat-contacts label {
    padding: 0;
  }

  .cat-contacts__legend {
    font-size: 24px;
    line-height: 24px;

    margin-bottom: 30px;
  }

  .cat-contacts__item {
    margin-bottom: 14px;
  }

  .cat-contacts__mail {
    position: relative;

    width: 220px;
    height: 45px;

    padding-right: 35px;
    padding-left: 16px;
  }

  .cat-contacts__phone {
    position: relative;

    width: 205px;
    height: 45px;
    padding-right: 35px;
    padding-left: 16px;
  }

  .cat-contacts__icon {
    top: 15px;
    left: 250px;
  }

}

@media (min-width: $tablet-width) {

  .cat-contacts {
    position: relative;
  }

  .cat-contacts__legend {
    font-size: 36px;
    line-height: 36px;

    margin-bottom: 70px;

    &::before {
      content: "";

      position: absolute;
      top: 20px;
      right: 700px;

      width: 100%;
      height: 3px;

      background-color: $color-3;
    }

    &::after {
      content: "";

      position: absolute;
      top: 20px;
      left: 550px;

      width: 100%;
      height: 3px;

      background-color: $color-3;
    }
  }

  .cat-contacts__item {
    margin-bottom: 20px;
  }

  .cat-contacts__mail {
    width: 550px;
    height: 52px;

    padding-right: 48px;
    padding-left: 20px;
  }

  .cat-contacts__phone {
    width: 535px;
    height: 52px;

    padding-right: 48px;
    padding-left: 20px;
  }

  .cat-contacts__icon {
    top: 15px;
    left: 630px;
  }

}

@media (min-width: $desktop-width) {

  .cat-contacts__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .cat-contacts__mail {
    width: 486px;
    height: 52px;
  }

  .cat-contacts__phone {
    width: 472px;
    height: 52px;
  }

  .cat-contacts legend {
    &::before {
      top: 20px;
      right: 1250px;
    }

    &::after {
      top: 20px;
      left: 550px;
    }
  }

  .cat-contacts__icon {
    top: 15px;
    left: 520px;
  }

}
