.contacts {

}

.contacts p {
  margin: 0;
}

.contacts__info {
  display: flex;

  padding: 28px 20px;
  background-color: $bg-1;
}

.contacts__call {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__adress {
  font-size: 14px;
  line-height: 20px;
  color: $color-2;
}
