.contacts p {
  margin: 0;
}

.contacts__info {
  display: flex;
  justify-content: space-between;
}

.contacts__adress {
  font-family: "Arial", sans-serif;
}

.contacts__map iframe {
  width: 100%;
}

@media (max-width: $mobile-width) {

  .contacts__info {
    width: 320px;
    margin: 0 auto;
    padding-top: 41px;
    padding-right: 20px;
    padding-bottom: 28px;
    padding-left: 20px;

    background-color: $bg-1;
  }

  .contacts__info--catalog,
  .contacts__info--form {
    background: transparent;
  }

  .contacts__call {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .contacts__adress {
    font-size: 14px;
    line-height: 20px;
    color: $color-2;
  }

  .contacts__map iframe {
    height: 362px;
  }

}

@media (min-width: $tablet-width) {

  .contacts__info {
    justify-content: space-between;

    width: 768px;
    margin: 0 auto;

    padding-top: 81px;
    padding-right: 71px;
    padding-bottom: 59px;
    padding-left: 71px;
  }

  .contacts__call {
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;

    width: 155px;
  }

  .contacts__adress {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: $color-2;

    width: 155px;
  }

  .contacts__adress span {
    display: block;
    margin-top: 15px;
  }

  .contacts__map iframe {
    height: 400px;
  }

}

@media (min-width: $desktop-width) {

  .contacts {
    height: 400px;
  }

  .contacts__info-wrapper {
    position: relative;

    width: 1300px;

    margin: 0 auto;
  }

  .contacts__info {
    position: absolute;

    top: 95px;
    left: 33px;

    width: 570px;
    height: 200px;
    margin: 0;
    padding-top: 73px;

    background-color: $bg-1;
  }

.contacts__adress {
  text-align: left;
}

}
