.copyright {
  vertical-align: middle;
  padding: 22px 20px;
}

.copyright__link {
  display: block;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.copyright__link span {
  font-size: 16px;
  line-height: 16px;
}

.copyright__link svg {
  display: inline;
}
