.copyright__link span {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: $color-2;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__link:active {
  opacity: 0.3;
}

.copyright__link svg:hover {
  color: #68b738;
}

.copyright__link svg:active {
  color: #68b738;
  opacity: 0.3;
}

.copyright__link svg {
  color: #666666;
}

@media (max-width: $mobile-width) {

  .copyright {
    padding: 22px 20px;

    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

}

@media (min-width: $tablet-width) {

  .copyright {
    width: 162px;
  }

}
