.footer__social {
display: flex;

  margin: 0;

  list-style: none;
}

@media (max-width: $mobile-width) {

  .footer {
    width: 320px;
    margin: 0 auto;

    background-color: $bg-2;
  }

  .footer__logo {
    text-align: center;

    padding-top: 40px;
    padding-bottom: 30px;
    margin-bottom: 20px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .footer__social {
    justify-content: space-between;

    margin-bottom: 20px;
    padding: 0;
    padding-right: 100px;
    padding-left: 100px;
  }

}

@media (min-width: $tablet-width) {

  .footer {
    width: 768px;
    margin: 0 auto;
    }

  .footer__bottom {
    display: flex;
    justify-content: space-between;

    min-height: 150px;
    background-color: $bg-2;
  }

}

@media (min-width: $desktop-width) {

  .footer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

}
