.form fieldset {
    border: none;
    padding: 0;
}

.form label,
.form input[placeholder],
.form textarea[placeholder] {
    color: $color-4;
    text-transform: uppercase;
}

.form input[placeholder],
.form textarea[placeholder] {
  font-family: inherit;
  color: $color-4;
}

@media (max-width: $mobile-width) {

  .form {
    width: 320px;
    margin: 0 auto;
    padding-top: 18px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 32px;
  }

  .form__program-selection {
    margin-bottom: 20px;
  }

  .form__heading {
    margin: 0;
    margin-bottom: 21px;

    font-size: 36px;
    line-height: 60px;
  }

  .form__call {
    margin: 0;
    margin-bottom: 37px;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  }

  .form label,
  .form input[placeholder],
  .form textarea[placeholder] {
    font-size: 16px;
    line-height: 18px;
  }

  .form__note {
    font-size: 14px;
    line-height: 16px;
    color: $color-2;

    text-align: center;
    margin: 0;
  }

}

@media (min-width: $tablet-width) {

  .form {
    width: 708px;
    margin: 0 auto;
  }

  .form__heading {
    font-size: 60px;
    line-height: 60px;

    margin: 0;
    margin-bottom: 50px;
  }

  .form__call {
    width: 330px;
    margin: 0;
    margin-bottom: 65px;

    font-size: 20px;
    line-height: 30px;
  }

  .form label,
  .form input[placeholder],
  .form textarea[placeholder] {
    font-size: 20px;
    line-height: 20px;
  }

  .form__button-wrapper {
    display: flex;
  }

  .form__button {
    font-size: 20px;
    line-height: 20px;

    width: 283px;
    height: 52px;
    margin-right: 61px;
  }

  .form__note {
    font-family: 'Arial';
    font-size: 16px;
    line-height: 16px;
    color: $color-2;
  }

}

@media (min-width: $desktop-width) {

  .form {
    width: 1300px;
    margin: 0 auto;
  }

  .form__infogoal-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .form__button-wrapper {
    margin-bottom: 82px;
  }

  .form__button {
    width: 568px;
    height: 52px;

    margin-right: 82px;
  }

}
