.form fieldset {
    padding: 0;
}

.form textarea {
  resize: none;
}

.form label,
.form input[placeholder],
.form textarea[placeholder] {
    color: $color-4;
    text-transform: uppercase;
}

.form input[placeholder],
.form textarea[placeholder] {
  font-family: inherit;
  color: $color-4;
}

.form__heading {
  font-weight: 400;

  margin: 0;
}

.form__input:focus {
  border: 2px solid #444444;
  outline: none;
}

.form__input:valid {
  border: 1px solid #cdcdcd;
  background-color: transparent;
}

.form__input:not(:placeholder-shown):invalid {
  border: 2px solid #ff8282;
  outline: none;
}

@media (max-width: $mobile-width) {

  .form {
    width: 320px;
    margin: 0 auto;
    padding-top: 18px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 32px;
  }

  .form__program-selection {
    margin-bottom: 20px;
  }

  .form__heading {
    margin-bottom: 21px;

    font-size: 36px;
    line-height: 60px;
  }

  .form__call {
    margin: 0;
    margin-bottom: 37px;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  }

  .form label,
  .form input[placeholder],
  .form textarea[placeholder] {
    font-size: 16px;
    line-height: 18px;
  }

  .form__note {
    font-size: 14px;
    line-height: 16px;
    color: $color-2;

    text-align: center;
    margin: 0;
  }

  .form__button {
    margin-bottom: 20px;
  }

}

@media (min-width: $tablet-width) {

  .form {
    width: 708px;
    margin: 0 auto;
  }

  .form__heading {
    font-size: 60px;
    line-height: 60px;

    margin-bottom: 50px;
  }

  .form__wrapper {
    padding-left: 40px;
  }

  .form__call {
    width: 330px;
    margin: 0;
    margin-bottom: 65px;

    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .form__goal {
    margin-bottom: 80px;
  }

  .form__contacts {
    margin-bottom: 50px;
  }

  .form__button-wrapper {
    margin-bottom: 70px;
  }

  .form label,
  .form input[placeholder],
  .form textarea[placeholder] {
    font-size: 20px;
    line-height: 20px;
  }

  .form__button-wrapper {
    display: flex;
  }

  .form__button {
    font-size: 20px;
    line-height: 20px;

    width: 283px;
    height: 52px;
    margin-right: 61px;
  }

  .form__note {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: $color-2;
  }

}

@media (min-width: $desktop-width) {

  .form {
    width: 1300px;
    margin: 0 auto;
  }

  .form__wrapper {
    padding: 0;
    width: 1220px;
    margin: 0 auto;
  }

  .form__heading {
    padding-left: 40px;
  }

  .form__infogoal-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .form__button-wrapper {
    margin-bottom: 82px;
  }

  .form__button {
    width: 568px;
    height: 52px;

    margin-right: 82px;
  }

}
