@media (max-width: $mobile-width) {

  .header {
    position: relative;

    width: 320px;
    margin: 0 auto;
    padding-top: 11px;
  }

}

@media (min-width: $tablet-width) {

  .header {
    display: flex;
    justify-content: space-between;

    width: 708px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 60px;
  }

}

@media (min-width: $desktop-width) {

  .header {
    display: flex;
    justify-content: space-between;

    width: 1220px;
    margin: 0 auto;
    padding-top: 53px;
    padding-bottom: 80px;

    background: transparent;
  }

}
