.header__logo--active:hover {
  opacity: 0.8;
}

.header__logo--active:active {
  opacity: 0.6;
}

  @media (max-width: $mobile-width) {

  .header {
    position: relative;

    width: 320px;

    margin: 0 auto;
    padding-top: 11px;
  }

  .header__logo {
    display: inline-block;

    padding-left: 20px;
    margin-bottom: 10px;
  }

}

@media (min-width: $tablet-width) {

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 708px;
    margin: 0 auto;
    padding-top: 24px;
    margin-bottom: 50px;
  }

}

@media (min-width: $desktop-width) {

  .header {
    display: flex;
    justify-content: space-between;

    width: 1220px;
    margin: 0 auto;
    padding-top: 53px;
    padding-bottom: 80px;

    background: transparent;
  }

}
