.main-nav__list {
  list-style: none;

  text-align: center;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
}

@media (max-width: $mobile-width) {

  .main-nav__toggle {
    position: absolute;
    top: 23px;
    right: 19px;
    z-index: 2;

    display: block;
    width: 25px;
    height: 20px;

    background-color: $bg-1;

    cursor: pointer;
    border: none;
  }

  .main-nav--closed .main-nav__toggle::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 25px;
    height: 2px;

    background-color: #000000;
    box-shadow: 0 9px 0 0 #000000, 0 18px 0 0 #000000;
  }

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--opened .main-nav__toggle {
    width: 20px;
    height: 20px;

    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 8px;
      left: -3px;

      width: 25px;
      height: 2px;

      background-color: #000000;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }

}

@media (min-width: $tablet-width) {

  .main-nav__toggle {
    display: none;
  }

}

@media (min-width: $desktop-width) {

  .main-nav {
    z-index: 2;
  }

  .main-nav--index-page::before {
    position: absolute;
    top: 0;
    right: 0;

    content: "";
    width: 50%;
    height: 696px;

    background-color: #65a93c;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: right;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }

    z-index: -1;
  }


  .main-nav__toggle {
    display: none;
  }

}
