@media (max-width: $mobile-width) {

  .product-info {
    margin-left: 50%;

    &--chicken-small::before {
      position: absolute;
      top: 0;
      left: 0;

      content: '';
      width: 140px;
      height: 144px;

      background-image: url('../img/chicken-small-mobile@1x.jpg');
    }

    &--chicken-big::before {
      position: absolute;
      top: 0;
      left: 0;

      content: '';
      width: 140px;
      height: 144px;

      background-image: url('../img/chicken-big-mobile@1x.jpg');
    }

    &--fish-small::before {
      position: absolute;
      top: 0;
      left: 0;

      content: '';
      width: 140px;
      height: 144px;

      background-image: url('../img/fish-small-mobile@1x.jpg');
    }

    &--fish-big::before {
      position: absolute;
      top: 0;
      left: 0;

      content: '';
      width: 140px;
      height: 144px;

      background-image: url('../img/fish-big-mobile@1x.jpg');
    }

    &--buckwheat-small::before {
      position: absolute;
      top: 0;
      left: 0;

      content: '';
      width: 140px;
      height: 144px;

      background-image: url('../img/buckwheat-small-mobile@1x.jpg');
    }

    &--buckwheat-big::before {
      position: absolute;
      top: 0;
      left: 0;

      content: '';
      width: 140px;
      height: 144px;

      background-image: url('../img/buckwheat-big-mobile@1x.jpg');
    }

    &--rice-small::before {
      position: absolute;
      top: 0;
      left: 0;

      content: '';
      width: 140px;
      height: 144px;

      background-image: url('../img/rice-small-mobile@1x.jpg');
    }

  }

  .product-info__name {
    margin: 0;
    margin-bottom: 12px;

    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .product-info__feature {
    width: 100%;
    margin-bottom: 21px;

    font-size: 12px;
    line-height: 16px;
    color: $color-2;

    border-collapse: collapse;
  }

  .product-info__order {
    margin-bottom: 25px;
  }

  .product-info__more {
    margin-bottom: 25px;
    padding: 0;

    background-color: $bg-2;
    color: $color-2;
  }

}

@media (min-width: $tablet-width) {

  .product-info {

    &--chicken-small::before {
      position: absolute;
      top: -46px;
      left: 0;

      content: '';
      width: 240px;  /*161px обрезает изображение*/
      height: 172px;

      background-image: url('../img/chicken-small-tablet@1x.png');
    }

    &--chicken-big::before {
      position: absolute;
      top: -82px;
      left: 0;

      content: '';
      width: 240px;  /*195px обрезает изображение*/
      height: 208px;

      background-image: url('../img/chicken-big-tablet@1x.png');
    }

    &--fish-small::before {
      position: absolute;
      top: -46px;
      left: 0;

      content: '';
      width: 240px;  /*161px обрезает изображение*/
      height: 172px;

      background-image: url('../img/fish-small-tablet@1x.png');
    }

    &--fish-big::before {
      position: absolute;
      top: -82px;
      left: 0;

      content: '';
      width: 240px;  /*195px обрезает изображение*/
      height: 208px;

      background-image: url('../img/fish-big-tablet@1x.png');
    }

    &--buckwheat-small::before {
      position: absolute;
      top: -46px;
      left: 0;

      content: '';
      width: 240px;  /*161px обрезает изображение*/
      height: 172px;

      background-image: url('../img/buckwheat-small-tablet@1x.png');
    }

    &--buckwheat-big::before {
      position: absolute;
      top: -82px;
      left: 0;

      content: '';
      width: 240px;  /*195px обрезает изображение*/
      height: 208px;

      background-image: url('../img/buckwheat-big-tablet@1x.png');
    }

    &--rice-small::before {
      position: absolute;
      top: -46px;
      left: 0;

      content: '';
      width: 240px;  /*161px обрезает изображение*/
      height: 172px;

      background-image: url('../img/rice-small-tablet@1x.png');
    }

  }

  .product-info__name {
    margin: 0;
    margin-bottom: 28px;

    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .product-info__feature {
    width: 100%;

    font-size: 16px;
    line-height: 16px;
    color: $color-2;

    border-collapse: collapse;
  }

  .product-info__order {
    width: 250px;
    height: 40px;
  }

  .product-info__more {
    width: 250px;
    height: 40px;

    background-color: $bg-2;
    color: $color-2;
  }

}

@media (min-width: $desktop-width) {

.product-info {

  &--chicken-small::before {
    background-image: url('../img/chicken-small-desktop@1x.png');
    }

  &--chicken-big::before {
    background-image: url('../img/chicken-big-desktop@1x.png');
  }

  &--fish-small::before {
    background-image: url('../img/fish-small-desktop@1x.png');
  }

  &--fish-big::before {
    background-image: url('../img/fish-big-desktop@1x.png');
  }

  &--buckwheat-small::before {
    background-image: url('../img/buckwheat-small-desktop@1x.png');
  }

  &--buckwheat-big::before {
    background-image: url('../img/buckwheat-big-desktop@1x.png');
  }

  &--rice-small::before {
    background-image: url('../img/rice-small-desktop@1x.png');
  }

}

  .product-info__order {
    width: 170px;
    height: 40px;
  }

  .product-info__more {
    width: 170px;
    height: 40px;

    background-color: $bg-2;
    color: $color-2;
  }

}
