@media (max-width: $mobile-width) {

  .site-list {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
  }



  .site-list__item {
    width: 320px;
    height: 65px;

    padding-top: 20px;

    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .site-list__item a {
    color: $color-1;
  }

}

@media (min-width: $tablet-width) {

  .site-list {
    display: flex;
  }

  .site-list__item {
    margin-left: 36px;
  }

  .site-list__item a {
    color: $color-1;
  }

}

@media (min-width: $desktop-width) {

  .site-list {
    font-size: 20px;
    line-height: 25px;
  }

  .site-list--index-page a {
    color: #ffffff;
  }
}
