.social-list svg {
  fill: #666666;
}

@media (max-width: $mobile-width) {

}

@media (min-width: $tablet-width) {

  .social-list {
    width: 124px;
  }

  .social-list__link--vk svg {
    width: 30px;
    height: 16px;
  }

  .social-list__link--instagram svg {
    width: 23px;
    height: 23px;
  }

  .social-list__link--facebook svg {
    width: 14px;
    height: 28px;
  }

}

@media (min-width: $desktop-width) {

}
