.social-list svg {
  color: #666666;
}

.social-list__link svg:hover {
  color: #68b738;
}

.social-list__link svg:active {
  color: #68b738;
  opacity: 0.3;
}

@media (max-width: $mobile-width) {

}

@media (min-width: $tablet-width) {

  .social-list {
    width: 124px;
  }

  .social-list__link--vk svg {
    width: 30px;
    height: 16px;
  }

  .social-list__link--instagram svg {
    width: 23px;
    height: 23px;
  }

  .social-list__link--facebook svg {
    width: 14px;
    height: 28px;
  }

}

@media (min-width: $desktop-width) {

}
