$bg-1: #ffffff;     /* белый */
$bg-2: #f2f2f2;     /* серый */
$color-1: #111111;  /* черный */
$color-2: #444444;  /* темно-серый */
$color-3: #68b738;  /* зеленый */
$color-4: #222222;  /*черный 2*/
$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1300px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
